<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view />
  </div>
</template>

<style lang="scss">
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 0;
  height: 100%;
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  border: 0 solid rgb(245, 248, 250);
  background-color: rgb(245, 248, 250);
}
.flex-1 {
  flex: 1;
}
</style>
