<template>
  <div class="dashboard">
    <!-- <div class="sideBar">

    </div> -->
    <div class="">
      <div class="header">
        <button
          class="logoutBtn"
          @click="logout()"
        >Log Out</button>
      </div>
      <div class="card">
        <h2>Coupon List</h2>
        <div class="actionRow">
          <button
            class="addBtn"
            @click="showAddCouponRow=!showAddCouponRow"
          >Add Coupon</button>
        </div>
        <div
          class="addCouponRow"
          v-if="showAddCouponRow"
        >
          <p>Gives
            <span
              v-if="!addCouponNumber"
              class="placeholder"
            >[number]</span>
            <span
              v-else
              class="active"
            >
              {{addCouponNumber}}
            </span>
            coupons to
            <span
              v-if="!addCouponClientCode"
              class="placeholder"
            >[Client Code]</span>
            <span
              v-else
              class="active"
            >
              {{addCouponClientCode}}
            </span>
          </p>
          <div class="addCouponForm">
            <div class="formInputContainer number">
              <input
                type="number"
                class="formInput number"
                min="1"
                max="10"
                v-model="addCouponNumber"
              >
            </div>
            <div class="formInputContainer clientCode">
              <input
                type="text"
                class="formInput clientCode"
                placeholder="clientCode"
                v-model="addCouponClientCode"
              >
            </div>
            <div class="flex-1"></div>
            <button
              class="saveBtn"
              @click="save()"
            >Save</button>
          </div>
        </div>
        <div class="coupon-container head">
          <h2 class="number">#</h2>
          <h2 class="cltCode">ClientCode</h2>
          <h2 class="flex-1"></h2>
          <h2 class="source">Source</h2>
          <h2 class="delete"></h2>
        </div>
        <div
          class="coupon-container item"
          v-for="(coupon) in coupons"
          :key="coupon.id"
        >
          <h2 class="number">{{coupon.number}}</h2>
          <h2 class="cltCode">{{coupon.cltCode}}</h2>
          <h2 class="flex-1"></h2>
          <h2
            class="source"
            v-if="coupon.fromDeposit"
          >deposit</h2>
          <h2
            class="source"
            v-else
          >admin</h2>
          <h2
            v-if="!coupon.fromDeposit"
            class="delete"
            @click="deleteCoupon(coupon)"
          ><img
              class="delete-icon"
              width="32"
              src="../assets/delete.png"
              alt=""
            ></h2>
          <h2
            v-else
            class="delete"
          ></h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "dashboard",
  components: {},
  data() {
    return {
      coupons: [],
      showAddCouponRow: false,
      addCouponNumber: null,
      addCouponClientCode: null
    };
  },
  async mounted() {
    this.coupons = await this.$getCoupon();
  },
  methods: {
    async logout() {
      await this.$logout();
      this.$router.push({ name: "login" });
    },
    async save() {
      if (this.addCouponNumber && this.addCouponClientCode) {
        const coupons = await this.$addCoupon(
          this.addCouponNumber,
          this.addCouponClientCode
        );
        this.coupons = coupons;
      }
    },
    async deleteCoupon(coupon) {
      if (window.confirm("Are you sure you want to delete this coupon?")) {
        this.coupons = await this.$deleteCoupon(coupon);
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  .sideBar {
    width: 275px;
    border-right: 1px solid rgb(230, 236, 240);
    padding: 0 20px;
  }
  > div {
    width: 80%;
    margin: 0 auto;
    .header {
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      justify-content: flex-end;
      .logoutBtn {
        &:hover {
          background: lighten(#27ae60, 5%);
        }
        font-size: 1rem;
        background: #27ae60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 20px;
      }
    }
    .card {
      .addBtn {
        &:hover {
          background: lighten(#27ae60, 5%);
        }
        font-size: 1rem;
        background: #27ae60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 20px;
      }
      > h2 {
        border-bottom: 1px solid rgb(230, 236, 240);
        padding: 10px;
        margin: 0;
      }
      .actionRow {
        text-align: left;
        padding: 0 16px;
        padding-top: 16px;
      }
      .addCouponRow {
        > .addCouponForm {
          display: flex;
        }
        text-align: left;
        padding: 0 16px;
        border-bottom: 1px solid rgb(230, 236, 240);
        p {
          .placeholder {
            opacity: 0.5;
          }
          .active {
            color: darken(#2c3e50, 5%);
            font-weight: bold;
          }
        }
        .formInputContainer {
          display: inline-block;
          position: relative;
          padding-top: 32px;
          &.number {
            &::before {
              position: absolute;
              content: "Coupons";
              left: 6px;
              top: -8px;
              font-size: 1.5em;
              font-weight: bold;
              color: #2c3e50;
            }
          }
          &.clientCode {
            &::before {
              position: absolute;
              content: "ClientCode";
              left: 32px;
              top: -8px;
              font-size: 1.5em;
              font-weight: bold;
              color: #2c3e50;
            }
          }
          .formInput {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            box-sizing: border-box;
            color: #2c3e50;
            font-size: 1.2rem;
            &.number {
              width: 100px;
            }
            &.clientCode {
              margin-left: 32px;
            }
          }
        }
        .saveBtn {
          &:hover {
            background: lighten(#27ae60, 5%);
          }
          margin-bottom: 10px;
          margin-top: 32px;
          font-size: 1.2rem;
          background: #27ae60;
          font-weight: bold;
          color: white;
          border: 0 none;
          border-radius: 1px;
          cursor: pointer;
          padding: 10px 20px;
        }
      }
      .coupon-container {
        .delete-icon {
          border-radius: 50%;
          padding: 4px;
          &:hover {
            background-color: rgb(230, 236, 240);
          }
        }
        .source {
          width: 80px;
          text-align: left;
        }
        .delete {
          margin-left: 8px;
          width: 80px;
          height: 33px;
        }
        &.head {
        }
        &.item {
          cursor: pointer;
          &:hover {
            background-color: darken(rgb(245, 248, 250), 5%);
          }
        }
        padding: 0 16px;
        display: flex;
        .number {
          text-align: left;
          padding-left: 8px;
          box-sizing: border-box;
          width: 100px;
          // display: inline;
        }
        .cltCode {
          margin-left: 32px;
        }
      }
    }
  }
}
</style>
