<template>
  <div class="login container">
    <div class="card">
      <h1>Admin login</h1>
      <input
        class="formInput"
        type="text"
        placeholder="Name"
        v-model="name"
        tabindex="1"
      >
      <input
        class="formInput"
        type="password"
        placeholder="Password"
        v-model="password"
        tabindex="1"
      >
      <button
        class="login"
        @click="login()"
      >Log in</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import config from "@/config";
import _ from "lodash";

export default {
  name: "home",
  data() {
    return {
      name: "",
      password: ""
    };
  },
  mounted() {},
  components: {},
  methods: {
    async login() {
      const status = await this.$login(this.name, this.password);
      if (status === 0) {
        this.$router.push({ name: "dashboard" });
      } else if (status === 1) {
        alert("Can not log in");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login.container {
  padding-top: 60px;
  max-width: 780px;
  margin: 0 auto;
  .card {
    padding: 16px;
    min-height: 300px;
    > input,
    button {
      width: 80%;
      margin: 0 auto;
    }
    input.formInput {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      box-sizing: border-box;
      color: #2c3e50;
      font-size: 13px;
    }
    button.login {
      background: #27ae60;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
    }
  }
}
</style>
