@charset "UTF-8";
/* CSS Document */

html {
	background-color: #a30009;
	font-family: "simhei","黑體","微软雅黑","Microsoft YaHei","新細明體","宋体","SimSun", sans-serif;

}
.header, .header-login{
	background-color: #fff;
	padding: 20px 0px;
	height: 100px;
}
.header-bg{
	background-color: #fff;
}
.logo-flo{
	float: left;
}
.log-out{
	text-align: right;
	margin-top: 20px;
}
.logo{
	width: 100%;
	max-width: 200px;
}
.kv-container{
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-color: #a30009;
}
.kv{
	width: 100%;
	max-width: 1300px;
}
.kvbtn{
		width: 100%;
	max-width: 1300px;
	background-color: #be2c2f;
	height: 100px;
	
}

.draw-container{
	background-image: url(../images/bg-inner.jpg);
	background-repeat: repeat-x;
	background-color: #a30009;
	
}
.draw-middle{
	background-color: #d43d46;
	border-left: solid #ff9275 33px;
	border-right: solid #ff9275 32px;
}
.draw-gap{
	padding: 30px 0px;
}
.prize-announce{
	padding: 10px;
	color: white;
}
.box-bg{
	width: 100%;
	max-width: 1110px;
	display: block;
}
.draw-boxbg{
	position: absolute;
	z-index: 2;
}
.botbtn{
		width: 100%;
	max-width: 1300px;
	padding: 40px 0px;
	
}
.imgbtn{
	width: 100%;
	max-width: 200px;
}
.marginauto{
	margin: auto;
}
.subtitle{
	padding: 60px 0px 20px 0px;
	font-size: 24px;
	color: #fff;
}
.tabled-img{
	width: 100%;
	max-width: 1200px;
	display: table-cell;
}
.tablem-img{
	width: 100%;
	max-width: 1200px;
	display: none;
}
.step-container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 0px solid blue;
}
.step-wrapper{
	float: left;
	
}
.step-img{
	width: 100%;
	max-width: 330px;
}
.prize-container{
	width: 100%;
	max-width: 900px;
}
.prize-img-large{
	width: 100%;
	max-width: 620px;
}
.prize-img-sm{
		width: 100%;
	max-width: 280px;
}
.prize-pad{
	padding: 10px;
}
.tnc-container{
	background-color: #be202f;
	padding: 30px 5px;
}
.tnc-content{
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	line-height: 22px;
}
.tnc-head{
	font-size: 16px;
}
.footer{
	width: 100%;
	height: 110px;
	padding: 30px 0px;
	background-color: #fff;
}
.footerlogo{
	width: 100%;
	max-width: 150px;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
	font-size: 13px;
}
.footer-right a{
	color: #337ab7;
}
.box-top{
	width: 100%;
	max-width: 1200px;
	display: block;
}
.opp{
	font-size: 38px;
	color: #fff;
}
.opp-gold{
	color: #ecd780;
}
.ticket{
	background-color: #fff;
	width: 20%;
	max-width: 229px;
	margin: auto ;
	border: 15px solid #d43d46;
}
.ticket-width{
	width: 90%;
	max-width: 1020px;
	margin: auto;
	border: 0px solid green;
}
.w900{
	width: 100%;
	max-width: 850px;
	margin: auto;
}

.ticket-t1{
	color: #888888;
	font-size: 18px;
	margin-top: 70px;
}
.ticket-t2{
	color: #d43d46;
	font-size: 28px;
	margin-bottom: 50px;
}
.ticket-t3{
	color: #888888;
	font-size: 12px;
	
}

.padding-all{
	padding: 20px 20px 0px 20px ;
}
.inputbox{
	width: 100%;
}
.poptitle{
	color: #d43d46;
}
.congrat-img{
	width: 100%;
	max-width: 290px;
}
.sidehide{
	display: table-cell;
}
.sidebar-container {
    width: 67px;
}
.sidebar-icon {
    margin-bottom: 10px;
}
.sideshow{
	display: block;
}
.rules{
	background-color: #fff;
	border: #db183e solid 5px;
	padding: 30px;
	font-size: 18px;
}
.rules-red{
	color: #df4a54;
}
.mob-hide{
	display:block;
}
@media (max-width: 1200px) {
.draw-middle{
	border-left: solid #ff9275 28px;
	border-right: solid #ff9275 27px;
}
}
@media (max-width: 990px) {
.draw-middle{
	border-left: solid #ff9275 21px;
	border-right: solid #ff9275 20px;
}.mob-hide{
	display:none;
}
	.opp{
	font-size: 32px;
}
}
@media (max-width: 767px) {
.draw-middle{
	border-left: solid #ff9275 15px;
	border-right: solid #ff9275 15px;
}
	
}
@media (max-width: 522px) {
.draw-middle{
	border-left: solid #ff9275 14px;
	border-right: solid #ff9275 14px;
}
}
@media (max-width: 500px) {
.draw-middle{
	border-left: solid #ff9275 14px;
	border-right: solid #ff9275 13px;
}
}
@media (max-width: 486px) {
.draw-middle{
	border-left: solid #ff9275 13px;
	border-right: solid #ff9275 13px;
}
}
@media (max-width: 460px) {
.draw-middle{
	border-left: solid #ff9275 12px;
	border-right: solid #ff9275 12px;
}
}
@media (max-width: 425px) {
.draw-middle{
	border-left: solid #ff9275 12px;
	border-right: solid #ff9275 11px;
}
}
@media (max-width: 375px) {
.draw-middle{
	border-left: solid #ff9275 10px;
	border-right: solid #ff9275 10px;
}
}
@media (max-width: 345px) {
.draw-middle{
	border-left: solid #ff9275 9px;
	border-right: solid #ff9275 9px;
}
}
@media (max-width: 320px) {
.draw-middle{
	border-left: solid #ff9275 8px;
	border-right: solid #ff9275 8px;
	}
	.ticket-t1{
	color: #888888;
	font-size: 22px;
}
	.ticket-t2{
	color: #d43d46;
	font-size: 20px;
	margin-bottom: 40px;
}
}
@media (max-width: 1000px) {
	.kv-container{
	background-image: url(../images/bg-mob2.jpg);
	}
	
}
@media (max-width: 768px) {
	
	.kv-container{
	background-image: url(../images/bg-mob.jpg);
	}
	.tabled-img{
	width: 100%;
	max-width: 1200px;
	display: none;
	}
	.tablem-img{
	width: 100%;
	max-width: 1200px;
	display: block;
	}
	.imgbtn{
	width: 100%;
	max-width: 150px;
	padding: 20px 0px 0px 0px;
	}
	.prize-img-sm{
	width: 100%;
	max-width: 220px;
	}
	.sideshow{
	display: none;
	}
	.rules{
	font-size: 15px;
	}
	
}
@media (max-width: 500px) {
	.footer-left{
	float:none;
	}
	.footer-right{
	float:none;
	padding-top: 20px}

}
@media (max-width: 575px) {
	.log-out{
	text-align: center;
	margin-top: 10px;
	}
	.logo{
	width: 100%;
	max-width: 140px;
}
	.header{
	background-color: #fff;
	padding: 15px 0px;
	text-align: center;	
	height: 70px;
}
	.header-login{
	background-color: #fff;
	padding: 15px 0px;
	text-align: center;	
	height: 95px;
}
}
@media (max-width: 425px) {
	.log-out{
	text-align: center;
	margin-top: 10px;
	}
}